[Unit]
Description=Biometric Access Control System
After=network.target

[Service]
User=pi
WorkingDirectory=/home/pi/ArcFace
ExecStart=/bin/bash /home/pi/ArcFace/biometric_autostart.sh
Restart=always
RestartSec=10
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=biometric

[Install]
WantedBy=multi-user.target 